.homepageChild {
  	position: absolute;
  	top: 2107px;
  	left: 1070.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageItem {
  	position: absolute;
  	top: 2628.99px;
  	left: 790px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 633.9px;
  	height: 637.2px;
  	transform:  rotate(-9.8deg);
  	transform-origin: 0 0;
}
.homepageInner {
  	position: absolute;
  	top: 2986px;
  	left: -21.64px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 633.9px;
  	height: 637.2px;
  	transform:  rotate(18.4deg);
  	transform-origin: 0 0;
}
.rectangleDiv {
  	position: absolute;
  	top: 3835.95px;
  	left: 712px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 633.9px;
  	height: 637.2px;
  	transform:  rotate(-31.2deg);
  	transform-origin: 0 0;
}
.homepageChild1 {
  	position: absolute;
  	top: 4124.28px;
  	left: 145.29px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 633.9px;
  	height: 637.2px;
  	transform:  rotate(15.7deg);
  	transform-origin: 0 0;
}
.homepageChild2 {
  	position: absolute;
  	top: 1959px;
  	left: 104.82px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 516.6px;
  	height: 596px;
  	transform:  rotate(16.6deg);
  	transform-origin: 0 0;
}
.homepageChild3 {
  	position: absolute;
  	top: 5835px;
  	left: 0px;
  	background-color: #e8c68d;
  	width: 1440px;
  	height: 106px;
}
.homepageChild5 {
  	position: absolute;
  	top: 2178px;
  	left: -15px;
  	background-color: #fff;
  	width: 1473px;
  	height: 361px;
}
.homepageChild6 {
  	position: absolute;
  	top: 2729px;
  	left: -15px;
  	background-color: #fff;
  	width: 1473px;
  	height: 330px;
}
.homepageChild7 {
  	position: absolute;
  	top: 3257px;
  	left: -36px;
  	background-color: #fff;
  	width: 1473px;
  	height: 330px;
}
.homepageChild8 {
  	position: absolute;
  	top: 3775px;
  	left: -36px;
  	background-color: #fff;
  	width: 1473px;
  	height: 330px;
}
.homepageChild9 {
  	position: absolute;
  	top: 4309px;
  	left: -3px;
  	background-color: #fff;
  	width: 1443px;
  	height: 330px;
}
.homepageChild10 {
  	position: absolute;
  	top: 550px;
  	left: 403.29px;
  	border-radius: 81px;
  	background-color: #fae6c3;
  	width: 327.7px;
  	height: 504.8px;
  	transform:  rotate(71.7deg);
  	transform-origin: 0 0;
}
.homepageChild11 {
  	position: absolute;
  	top: 490px;
  	left: 89px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 40px;
  	background-color: #c9e94f;
  	border: 1px solid #003939;
  	box-sizing: border-box;
  	width: 335px;
  	height: 49px;
}
.homepageChild12 {
  	position: absolute;
  	top: 307.99px;
  	left: 590px;
  	border-radius: 101px;
  	background-color: #f7dca7;
  	width: 633.9px;
  	height: 637.2px;
  	transform:  rotate(-9.8deg);
  	transform-origin: 0 0;
}
.homepageChild14 {
  	position: absolute;
  	top: 88px;
  	left: 1075.53px;
  	border-radius: 101px;
  	background-color: #003939;
  	width: 512px;
  	height: 669px;
  	transform:  rotate(30.3deg);
  	transform-origin: 0 0;
}
.groupIcon {
  	position: absolute;
  	top: 10px;
  	left: 635px;
  	width: 714px;
  	height: 702px;
  	object-fit: cover;
}
.homepageChild15 {
  	position: absolute;
  	top: 432px;
  	left: 505.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild16 {
  	position: absolute;
  	top: 2581px;
  	left: 607.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild17 {
  	position: absolute;
  	top: 4170px;
  	left: 785.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild18 {
  	position: absolute;
  	top: 4722px;
  	left: 1340.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild19 {
  	position: absolute;
  	top: 3600px;
  	left: 564.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild20 {
  	position: absolute;
  	top: 2635px;
  	left: 95.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild21 {
  	position: absolute;
  	top: 3065px;
  	left: 610.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild22 {
  	position: absolute;
  	top: 3652px;
  	left: 844.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild23 {
  	position: absolute;
  	top: 4110px;
  	left: 8.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild24 {
  	position: absolute;
  	top: 4654px;
  	left: 883.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild25 {
  	position: absolute;
  	top: 4164px;
  	left: 1361.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild26 {
  	position: absolute;
  	top: 2010px;
  	left: 1407.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild27 {
  	position: absolute;
  	top: 2010px;
  	left: 825.03px;
  	border-radius: 26px;
  	background-color: #fae6c3;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild28 {
  	position: absolute;
  	top: 72px;
  	left: 718.03px;
  	border-radius: 26px;
  	background-color: #f7dca7;
  	width: 84.3px;
  	height: 78.9px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.homepageChild29 {
  	position: absolute;
  	top: -136px;
  	left: -71.35px;
  	border-radius: 71px;
  	background-color: #f7dca7;
  	width: 519.7px;
  	height: 222.2px;
  	transform:  rotate(10.8deg);
  	transform-origin: 0 0;
}
.homepageChild30 {
  	position: absolute;
  	top: 85px;
  	left: 1383.31px;
  	border-radius: 26px;
  	background-color: #f7dca7;
  	width: 63.3px;
  	height: 61.5px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.maps {
  	color: #003939;
}
.furmaps {
  	position: absolute;
  	top: 13px;
  	left: 120px;
  	font-size: 50px;
  	font-family: 'Fredoka One';
  	display: inline-block;
  	width: 296px;
  	height: 73px;
  	color: #417a7a;
}
.yourPetsComfort {
  	position: absolute;
  	top: 78px;
  	left: 120px;
  	font-size: 15px;
  	font-family: 'Fredoka One';
  	color: #945149;
  	display: inline-block;
  	width: 281px;
  	height: 23px;
}
.services {
  	position: absolute;
  	top: 32px;
  	left: 823px;
  	font-size: 20px;
  	font-weight: 600;
}
.helpCenter {
  	position: absolute;
  	top: 32px;
  	left: 980px;
  	font-size: 20px;
  	font-weight: 600;
}
.logIn {
  	position: absolute;
  	top: 28px;
  	left: 1278px;
  	font-weight: 600;
  	color: #582de5;
}
.aboutUs {
  	position: absolute;
  	top: 32px;
  	left: 660px;
  	font-size: 20px;
  	font-weight: 600;
}
.homepageChild31 {
  	position: absolute;
  	top: 5446px;
  	left: -3px;
  	background-color: #e8fae9;
  	width: 1516px;
  	height: 388px;
}
.furmaps1 {
  	position: absolute;
  	top: 5521px;
  	left: 81px;
  	font-size: 40px;
  	font-family: 'Fredoka One';
  	display: inline-block;
  	width: 169px;
  	height: 51px;
}
.aboutUs1 {
  	position: absolute;
  	top: 5596px;
  	left: 81px;
  	display: inline-block;
  	width: 107px;
}
.contactUs {
  	position: absolute;
  	top: 5482px;
  	left: 890px;
  	font-size: 36px;
  	display: inline-block;
  	width: 357px;
  	height: 51px;
}
.copyrightFurmaps2025 {
  	position: absolute;
  	top: 5881px;
  	left: 673px;
  	font-size: 16px;
  	display: inline-block;
  	width: 462px;
  	height: 51px;
}
.connectWithUs {
  	position: absolute;
  	top: 5621px;
  	left: 890px;
  	font-size: 36px;
  	display: inline-block;
  	width: 357px;
  	height: 51px;
}
.termsOfUse {
  	position: absolute;
  	top: 5650px;
  	left: 81px;
  	display: inline-block;
  	width: 154px;
}
.privacyPolicy {
  	position: absolute;
  	top: 5704px;
  	left: 81px;
  	display: inline-block;
  	width: 163px;
}
.homepageChild33 {
  	position: absolute;
  	top: 711px;
  	left: -13px;
  	background-color: #fff;
  	width: 1467px;
  	height: 569px;
}
.ellipseDiv {
  	position: absolute;
  	top: 57px;
  	left: 59px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 47px;
  	height: 41px;
}
.imageIcon {
  	position: absolute;
  	top: 0px;
  	left: 4px;
  	width: 116px;
  	height: 113px;
  	object-fit: cover;
}
.easilyLocateTrusted {
  	position: absolute;
  	top: 398px;
  	left: 92px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 458px;
  	height: 112px;
}
.emailUs {
  	position: absolute;
  	top: 5555px;
  	left: 970px;
  	font-size: 20px;
  	display: inline-block;
  	width: 296px;
  	height: 44px;
}
.imageIcon1 {
  	position: absolute;
  	top: 5545px;
  	left: 890px;
  	width: 59px;
  	height: 52px;
  	object-fit: cover;
}
.homepageChild34 {
  	position: absolute;
  	top: 123px;
  	left: 1410.01px;
  	border-radius: 26px;
  	background-color: #003939;
  	width: 37.9px;
  	height: 67.5px;
  	transform:  rotate(26.4deg);
  	transform-origin: 0 0;
}
.imageIcon3 {
  	position: absolute;
  	top: 5881px;
  	left: 630px;
  	width: 35px;
  	height: 25px;
  	object-fit: cover;
}
.imageIcon5 {
  	position: absolute;
  	top: 756px;
  	left: 140px;
  	width: 210px;
  	height: 259px;
  	object-fit: cover;
}
.imageIcon6 {
  	position: absolute;
  	top: 764px;
  	left: 1060px;
  	width: 267px;
  	height: 260px;
  	object-fit: cover;
}
.imageIcon7 {
  	position: absolute;
  	top: 768px;
  	left: 523px;
  	width: 409px;
  	height: 262px;
  	object-fit: cover;
}
.betterForPet {
  	position: absolute;
  	top: 1035px;
  	left: 76px;
  	font-size: 32px;
  	display: inline-block;
  	color: #003939;
  	width: 394px;
  	height: 50px;
}
.petsStayHappy {
  	position: absolute;
  	top: 1088px;
  	left: 546px;
  	font-size: 19px;
  	font-weight: 500;
  	color: #2f7373;
  	text-align: center;
  	display: inline-block;
  	width: 324px;
  	height: 90px;
}
.petParentsEnjoy {
  	position: absolute;
  	top: 1085px;
  	left: 74px;
  	font-size: 19px;
  	font-weight: 500;
  	color: #2f7373;
  	text-align: center;
  	display: inline-block;
  	width: 341px;
  	height: 117px;
}
.serviceProvidersCan {
  	position: absolute;
  	top: 1084px;
  	left: 969px;
  	font-size: 19px;
  	font-weight: 500;
  	color: #2f7373;
  	text-align: center;
  	display: inline-block;
  	width: 409px;
  	height: 154px;
}
.betterForPets {
  	position: absolute;
  	top: 1033px;
  	left: 596px;
  	font-size: 32px;
  	display: inline-block;
  	color: #003939;
  	width: 394px;
  	height: 50px;
}
.betterForService {
  	position: absolute;
  	top: 1029px;
  	left: 950px;
  	font-size: 32px;
  	display: inline-block;
  	color: #003939;
  	width: 475px;
  	height: 50px;
}
.findPetServices {
  	margin: 0;
}
.findPetServicesContainer {
  	position: absolute;
  	top: 207px;
  	left: 89px;
  	font-size: 64px;
  	font-weight: 800;
  	color: #420808;
  	display: inline-block;
  	width: 590px;
  	height: 191px;
}
.getStarted {
  	position: absolute;
  	top: 490px;
  	left: 164px;
  	font-size: 32px;
  	display: inline-block;
  	color: #283728;
  	width: 274px;
  	height: 50px;
}
.homepageChild35 {
  	position: absolute;
  	top: 1263.2px;
  	left: 0px;
  	background-color: #e8fae9;
  	width: 1439.5px;
  	height: 173.7px;
  	transform:  rotate(-0.3deg);
  	transform-origin: 0 0;
}
.homepageChild36 {
  	position: absolute;
  	top: 1304px;
  	left: 201px;
  	border-radius: 20px;
  	background-color: #003939;
  	width: 464px;
  	height: 90px;
}
.homepageChild37 {
  	position: absolute;
  	top: 1303px;
  	left: 711px;
  	border-radius: 20px;
  	background-color: #003939;
  	width: 540px;
  	height: 90px;
}
.browseServices {
  	position: absolute;
  	top: 1323px;
  	left: 271px;
  	font-size: 32px;
  	display: inline-block;
  	color: #e8fae9;
  	width: 394px;
  	height: 50px;
}
.beAService {
  	position: absolute;
  	top: 1323px;
  	left: 781px;
  	font-size: 32px;
  	display: inline-block;
  	color: #e8fae9;
  	width: 394px;
  	height: 50px;
}
.lineIcon {
  	position: absolute;
  	top: 1333px;
  	left: 579.34px;
  	width: 21.9px;
  	height: 16.2px;
  	object-fit: contain;
}
.homepageChild38 {
  	position: absolute;
  	top: 1895px;
  	left: 890.34px;
  	width: 21.9px;
  	height: 16.2px;
  	object-fit: contain;
}
.homepageChild39 {
  	position: absolute;
  	top: 1333px;
  	left: 1164.34px;
  	width: 21.9px;
  	height: 16.2px;
  	object-fit: contain;
}
.homepageChild40 {
  	position: absolute;
  	top: 1349.36px;
  	left: 579px;
  	width: 22.2px;
  	height: 13.8px;
  	object-fit: contain;
}
.homepageChild41 {
  	position: absolute;
  	top: 1911.36px;
  	left: 890px;
  	width: 22.2px;
  	height: 13.8px;
  	object-fit: contain;
}
.homepageChild42 {
  	position: absolute;
  	top: 1349.36px;
  	left: 1164px;
  	width: 22.2px;
  	height: 13.8px;
  	object-fit: contain;
}
.homepageChild43 {
  	position: absolute;
  	top: 1434px;
  	left: -6px;
  	background-color: #003939;
  	width: 1446px;
  	height: 596px;
}
.homepageChild44 {
  	position: absolute;
  	top: 4800px;
  	left: -3px;
  	background-color: #003939;
  	width: 1446px;
  	height: 646px;
}
.whatPetsDo {
  	position: absolute;
  	top: 1470px;
  	left: 340px;
  	font-size: 64px;
  	display: inline-block;
  	color: #e8fae9;
  	width: 825px;
  	height: 50px;
}
.howFurmapsWork {
  	position: absolute;
  	top: 4825px;
  	left: 408px;
  	font-size: 64px;
  	display: inline-block;
  	color: #e8fae9;
  	width: 655px;
  	height: 95px;
}
.connectWithAwesome {
  	position: absolute;
  	top: 2755px;
  	left: 127px;
  	font-size: 40px;
  	display: inline-block;
  	color: #a84710;
  	text-align: right;
  	width: 500px;
  	height: 70px;
}
.discoverLocalDog {
  	position: absolute;
  	top: 3795px;
  	left: 144px;
  	font-size: 40px;
  	display: inline-block;
  	color: #a84710;
  	text-align: right;
  	width: 500px;
  	height: 70px;
}
.bookAndLocate {
  	position: absolute;
  	top: 2199px;
  	left: 820px;
  	font-size: 40px;
  	display: inline-block;
  	color: #a84710;
  	width: 500px;
  	height: 130px;
}
.findNearbyPet {
  	position: absolute;
  	top: 3284px;
  	left: 825px;
  	font-size: 40px;
  	display: inline-block;
  	color: #a84710;
  	width: 500px;
  	height: 130px;
}
.explorePetPamperingContainer {
  	position: absolute;
  	top: 4340px;
  	left: 883px;
  	font-size: 40px;
  	display: inline-block;
  	color: #a84710;
  	width: 488px;
  	height: 130px;
}
.findOutWhy {
  	position: absolute;
  	top: 1574px;
  	left: 480px;
  	display: inline-block;
  	color: #e8fae9;
  	text-align: center;
  	width: 542px;
  	height: 50px;
}
.easilyFindVerified {
  	position: absolute;
  	top: 2895px;
  	left: 59px;
  	display: inline-block;
  	color: #7e3811;
  	text-align: right;
  	width: 568px;
  	height: 176px;
}
.quicklyConnectWith {
  	position: absolute;
  	top: 3945px;
  	left: 122px;
  	display: inline-block;
  	color: #7e3811;
  	text-align: right;
  	width: 525px;
  	height: 176px;
}
.easilyLocateTrusted1 {
  	position: absolute;
  	top: 3427px;
  	left: 825px;
  	display: inline-block;
  	color: #7e3811;
  	width: 530px;
  	height: 176px;
}
.easilyLocateTrusted2 {
  	position: absolute;
  	top: 4490px;
  	left: 883px;
  	display: inline-block;
  	color: #7e3811;
  	width: 497px;
  	height: 176px;
}
.findVerifiedWellReviewed {
  	position: absolute;
  	top: 2354px;
  	left: 820px;
  	display: inline-block;
  	color: #7e3811;
  	width: 567px;
  	height: 176px;
}
.homepageChild45 {
  	position: absolute;
  	top: 1720px;
  	left: 220px;
  	border-radius: 30px;
  	background-color: #f6ffef;
  	width: 470px;
  	height: 72px;
}
.homepageChild46 {
  	position: absolute;
  	top: 1877px;
  	left: 499px;
  	border-radius: 25px;
  	background-color: #c9e94f;
  	width: 470px;
  	height: 73px;
}
.homepageChild47 {
  	position: absolute;
  	top: 1720px;
  	left: 770px;
  	border-radius: 30px;
  	background-color: #f6ffef;
  	width: 470px;
  	height: 72px;
}
.dog11 {
  	position: absolute;
  	top: 1716px;
  	left: 230px;
  	width: 80px;
  	height: 80px;
  	object-fit: cover;
}
.animalShelter11 {
  	position: absolute;
  	top: 1726px;
  	left: 780px;
  	width: 60px;
  	height: 60px;
  	object-fit: cover;
}
.dogs {
  	position: absolute;
  	top: 1732px;
  	left: 410px;
  	font-size: 32px;
  	font-weight: 500;
  	color: #003939;
  	display: inline-block;
  	width: 124px;
  	height: 50px;
}
.cats {
  	position: absolute;
  	top: 1732px;
  	left: 969px;
  	font-size: 32px;
  	font-weight: 500;
  	color: #003939;
  	display: inline-block;
  	width: 124px;
  	height: 50px;
}
.getStarted1 {
  	position: absolute;
  	top: 1890px;
  	left: 595px;
  	font-size: 32px;
  	font-weight: 500;
  	color: #003939;
  	display: inline-block;
  	width: 250px;
  	height: 50px;
}
.homepageChild48 {
  	position: absolute;
  	top: 1900px;
  	left: 878.34px;
  	width: 21.9px;
  	height: 16.2px;
  	object-fit: contain;
}
.homepageChild49 {
  	position: absolute;
  	top: 1916.36px;
  	left: 878px;
  	width: 22.2px;
  	height: 13.8px;
  	object-fit: contain;
}
.imageIcon8 {
  	position: absolute;
  	top: 4241px;
  	left: 55px;
  	width: 780px;
  	height: 440px;
  	object-fit: cover;
}
.imageIcon9 {
  	position: absolute;
  	top: 3725px;
  	left: 687px;
  	width: 710px;
  	height: 420px;
  	object-fit: cover;
}
.imageIcon10 {
  	position: absolute;
  	top: 3199px;
  	left: 55px;
  	width: 720px;
  	height: 430px;
  	object-fit: cover;
}
.imageIcon11 {
  	position: absolute;
  	top: 2129px;
  	left: 67px;
  	width: 700px;
  	height: 450px;
  	object-fit: cover;
}
.imageIcon12 {
  	position: absolute;
  	top: 2635px;
  	left: 662px;
  	width: 725px;
  	height: 484px;
  	object-fit: cover;
}
.communication1Icon {
  	position: absolute;
  	top: 5690px;
  	left: 890px;
  	width: 75px;
  	height: 75px;
  	object-fit: cover;
}
.instagram1Icon {
  	position: absolute;
  	top: 5690px;
  	left: 978px;
  	width: 80px;
  	height: 80px;
  	object-fit: cover;
}
.beAService1 {
  	position: absolute;
  	top: 5586px;
  	left: 408px;
  	display: inline-block;
  	width: 282px;
  	height: 48px;
}
.servicesWeOffer {
  	position: absolute;
  	top: 5717px;
  	left: 410px;
  	white-space: pre-wrap;
  	display: inline-block;
  	width: 282px;
  	height: 43px;
}
.petLover {
  	position: absolute;
  	top: 5520px;
  	left: 413px;
  	font-size: 32px;
  	display: inline-block;
  	width: 197px;
  	height: 48px;
}
.petOwner {
  	position: absolute;
  	top: 5658px;
  	left: 413px;
  	font-size: 32px;
  	display: inline-block;
  	width: 197px;
  	height: 48px;
}
.backToTop {
  	position: absolute;
  	top: 5788px;
  	left: 1325px;
  	font-size: 16px;
  	display: inline-block;
  	color: rgba(0, 0, 0, 0.75);
  	width: 105px;
  	height: 25px;
}
.backToTop2Icon {
  	position: absolute;
  	top: 5783px;
  	left: 1285px;
  	width: 40px;
  	height: 37px;
  	object-fit: cover;
}
.homepageChild50 {
  	position: absolute;
  	top: 5010px;
  	left: 70px;
  	background-color: #e8fae9;
  	width: 400px;
  	height: 380px;
}
.homepageChild51 {
  	position: absolute;
  	top: 5010px;
  	left: 510px;
  	background-color: #e8fae9;
  	width: 400px;
  	height: 380px;
}
.homepageChild52 {
  	position: absolute;
  	top: 5010px;
  	left: 950px;
  	background-color: #e8fae9;
  	width: 400px;
  	height: 380px;
}
.enterYourLocation {
  	position: absolute;
  	top: 5253px;
  	left: 106px;
  	font-weight: 500;
  	text-align: center;
  	display: inline-block;
  	width: 340px;
}
.seeTrustedNearby {
  	position: absolute;
  	top: 5253px;
  	left: 541px;
  	font-weight: 500;
  	text-align: center;
  	display: inline-block;
  	width: 340px;
}
.restEasyWhile {
  	position: absolute;
  	top: 5263px;
  	left: 977px;
  	font-weight: 500;
  	text-align: center;
  	display: inline-block;
  	width: 340px;
}
.image6Icon {
  	position: absolute;
  	top: 4940px;
  	left: 158px;
  	width: 206px;
  	height: 216px;
  	object-fit: cover;
}
.image8Icon {
  	position: absolute;
  	top: 4950px;
  	left: 1033px;
  	width: 227px;
  	height: 224px;
  	object-fit: cover;
}
.homepageChild53 {
  	position: absolute;
  	top: 5070px;
  	left: 596px;
  	border-radius: 7px;
  	background-color: #fffcfc;
  	width: 240px;
  	height: 30px;
}
.homepageChild54 {
  	position: absolute;
  	top: 4960px;
  	left: 675px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 75px;
  	height: 68px;
}
.homepageChild55 {
  	position: absolute;
  	top: 5098px;
  	left: 600px;
  	background-color: #fff;
  	width: 206px;
  	height: 14px;
}
.homepageChild56 {
  	position: absolute;
  	top: 5102.94px;
  	left: 803px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 18.7px;
  	height: 9.6px;
  	transform:  rotate(-29.7deg);
  	transform-origin: 0 0;
}
.search {
  	position: absolute;
  	top: 5175px;
  	left: 201px;
  	font-size: 40px;
  	font-weight: 900;
  	color: #e8fae9;
  	display: inline-block;
  	width: 474px;
  	text-shadow: 2px 0 0 #a84710, 0 2px 0 #a84710, -2px 0 0 #a84710, 0 -2px 0 #a84710;
}
.locate {
  	position: absolute;
  	top: 5183px;
  	left: 644px;
  	font-size: 40px;
  	font-weight: 900;
  	color: #e8fae9;
  	display: inline-block;
  	width: 159px;
  	text-shadow: 2px 0 0 #a84710, 0 2px 0 #a84710, -2px 0 0 #a84710, 0 -2px 0 #a84710;
}
.book {
  	position: absolute;
  	top: 5186px;
  	left: 1100px;
  	font-size: 40px;
  	font-weight: 900;
  	color: #e8fae9;
  	display: inline-block;
  	width: 159px;
  	text-shadow: 2px 0 0 #a84710, 0 2px 0 #a84710, -2px 0 0 #a84710, 0 -2px 0 #a84710;
}
.homepageChild57 {
  	position: absolute;
  	top: 5055.76px;
  	left: 609px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 96.3px;
  	height: 47.3px;
  	transform:  rotate(-21.2deg);
  	transform-origin: 0 0;
}
.homepageChild58 {
  	position: absolute;
  	top: 5049px;
  	left: 635.63px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 132.8px;
  	height: 72.3px;
  	transform:  rotate(43.3deg);
  	transform-origin: 0 0;
}
.homepageChild59 {
  	position: absolute;
  	top: 5103px;
  	left: 688px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 44px;
  	height: 57px;
}
.homepageChild60 {
  	position: absolute;
  	top: 5027.77px;
  	left: 731.26px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 36.3px;
  	height: 99.1px;
  	transform:  rotate(-49.9deg);
  	transform-origin: 0 0;
}
.homepageChild61 {
  	position: absolute;
  	top: 5020px;
  	left: 720px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 60px;
  	height: 67px;
}
.homepageChild62 {
  	position: absolute;
  	top: 5120px;
  	left: 720px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 21px;
  	height: 23px;
}
.homepageChild63 {
  	position: absolute;
  	top: 5130.39px;
  	left: 733px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 34.9px;
  	height: 11.8px;
  	transform:  rotate(-40deg);
  	transform-origin: 0 0;
}
.homepageChild64 {
  	position: absolute;
  	top: 5117.19px;
  	left: 750.71px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 45px;
  	height: 9px;
  	transform:  rotate(-18.1deg);
  	transform-origin: 0 0;
}
.image7Icon {
  	position: absolute;
  	top: 4940px;
  	left: 581px;
  	width: 269px;
  	height: 243px;
  	object-fit: cover;
}
.homepage {
  	width: 100%;
  	position: relative;
  	background-color: #fdedd2;
  	height: 5941px;
  	overflow-y: auto;
  	text-align: left;
  	font-size: 24px;
  	color: #000;
  	font-family: Poppins;
}

